# Dependencies
node_modules/

# macOS
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.idea/
*.swp
*.swo
*~

# Optional
coverage/
.nyc_output/

# Python
venv/
pytest_cache/
__pycache__/
*.pyc
